<h4>Offers available</h4>
<p>Total active offers: {{ activeOffersCount }}</p>
<p>Total inactive offers: {{ inactiveOffersCount }}</p>

<div style=" display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 20px;
  background-color: #0b1220 !important;">

  <div style=" width: 260px;
    background: #111827;
    border: 1px solid #1f2937;
    border-radius: 14px;
    padding: 16px;
  
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    transition: all 0.25s ease;" *ngFor="let o of offers">
  
    <img [src]="o.image" [alt]="o.title" style="
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 12px;
      background: #1f2937;
    " />
    <h3 style="
      margin: 0;
      font-size: 16px;
      color: #e5e7eb;">{{ o.title }}</h3>
    
    <p style=" margin: 0;
      font-size: 14px;
      color: #94a3b8;">{{ o.merchantName }}</p>
    
    <p style=" margin: 0;
      font-size: 14px;
      color: #94a3b8;">{{ o.discount }}% OFF</p>

    <p style="margin: 0; font-size: 14px; color: #94a3b8;">
      Available:
      <span *ngFor="let day of o.availability; let last = last">
        {{ day | titlecase }}<span *ngIf="!last">, </span>
      </span>
    </p>

    <p style="margin: 0; font-size: 14px; color: #94a3b8;">
      Usage: {{ o.usageLimit }}
    </p>

    <span style="display: inline-block;
      padding: 4px 10px;
      border-radius: 999px;
      font-size: 12px;
    
      background: #374151;
      color: #e5e7eb;
      width: fit-content;" class="badge">{{ o.status }}</span>

    <button (click)="toggle(o)" [style.background]="o.status === 'active' ? '#3b82f6' : '#6b7280'" style="
    margin-top: 6px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: background 0.2s ease;
  ">
      {{ o.status === 'active' ? 'pause' : 'activate' }}
    </button>

  </div>

</div>